<div class="map-overview-container">
    <div class="date-picker-container">
        <my-date-range-picker
            name="mydaterange"
            [options]="myDateRangePickerOptions"
            [(ngModel)]="model"
            (dateRangeChanged)="onDateRangeChanged($event)"
            required></my-date-range-picker>
    </div>
    <div class="map">
        <div class="map__container">
            <div class="zone c-zone">
                <!-- 1st row -->
                <div class="building c-building c-10">
                    <app-building-box [no]="'c10'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-8">
                    <app-building-box [no]="'c8'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-4">
                    <app-building-box [no]="'c4'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-3">
                    <app-building-box [no]="'c3'" [dateSelected]="dateSelected"></app-building-box>
                </div>

                <!-- 2nd row -->
                <div class="building c-building c-9">
                    <app-building-box [no]="'c9'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-7">
                    <app-building-box [no]="'c7'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-5">
                    <app-building-box [no]="'c5'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-2">
                    <app-building-box [no]="'c2'" [dateSelected]="dateSelected"></app-building-box>
                </div>

                <!-- 3rd row -->
                <div class="building c-building c-12">
                    <app-building-box [no]="'c12'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-11">
                    <app-building-box [no]="'c11'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-6">
                    <app-building-box [no]="'c6'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building c-building c-1">
                    <app-building-box [no]="'c1'" [dateSelected]="dateSelected"></app-building-box>
                </div>
            </div>

            <div class="zone b-zone-1">
                <div class="building b-building b-4">
                    <app-building-box [no]="'b4'" [dateSelected]="dateSelected"></app-building-box>
                </div>
                <div class="building b-building b-3">
                    <app-building-box [no]="'b3'" [dateSelected]="dateSelected"></app-building-box>
                </div>
            </div>

            <div class="zone b-a-zone">

                <div class="zone b-zone-2">
                    <div class="building b-building b-2">
                        <app-building-box [no]="'b2'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                    <div class="building b-building b-1">
                        <app-building-box [no]="'b1'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                </div>

                <div class="zone a-zone">
                    <div class="building a-building a-1">
                        <app-building-box [no]="'a1'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                    <div class="building a-building a-2">
                        <app-building-box [no]="'a2'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                    <div class="building a-building a-3">
                        <app-building-box [no]="'a3'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                    <div class="building a-building a-4">
                        <app-building-box [no]="'a4'" [dateSelected]="dateSelected"></app-building-box>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
