$red-color: #dc3545;
$yellow-color: #ffc107;
$green-color: #28a745;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #fff;
$gray-color: #6c757d;
$gray-light-color: #DDD;
$gray-dark-color: #343a40;
